header {
    background: #F75A68;
    height: 80px;
    display: flex;
    width: 1440px;
    padding: 20px 0px 19.235px 0px;
    justify-content: center;
    align-items: center;

    strong{

        font-size: 25.585px;
        font-style: normal;
        font-weight: 700;
        line-height: 160%; /* 40.937px */
    }

    img{
        width: 64px;
        align-items: center;
    }

}
 